<div class="chat-header">
  <div class="room-name">
    <%= @room.name %>
  </div>
  <div class="chat-exit">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <%# 全てのチャットメッセージ@messagesひとつひとつの要素messageに対して、renderを実行する。 %>
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-box">
    <%= f.text_field :content, class: 'message-form', placeholder: 'type a message' %>
    <%# 画像ボタンの実装 %>
    <%# label要素によって、小クラス(画像ボタン部分)も一緒にクリックしたとみなしてくれる %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'message-send' %>
<% end %>
